@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
/* @import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/lal-sabuj-normal/stylesheet.css');  */

body{
    box-sizing: border-box;
    margin: 0 0 0 0;
    font-family: 'Hind Siliguri', sans-serif !important;

    /* font-weight: bolder !important; */

}


.nav-header{
    background-color: #fff;
    width: 100%;
    height: 5.625rem;
    transition: box-shadow .5s ease;
}

.nav-left{
    gap: 2.25rem;
}

.Button_btn__end_icon__Opp_H{
    margin-left: 0.875rem;
}

.all-course-btn{
    border-radius: 2px !important;
    height: 3rem !important;
    display: flex !important;
    align-items: center !important;
    border-radius: 5px !important;
    height: 2.5rem !important;
    

}

.all-course-btn-wrapper:hover .all-course-btn{
    border-bottom-left-radius: 0px !important;
}

.all-course-btn-wrapper:hover .all-course-dropdown{
    display: block !important;
    position: absolute;
    margin-top: 1px !important;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Input_search__input_group{
    position: relative;
}

.Input_search__input_icon{
    position: absolute;
    top: calc(50% + 1px);
    left: 1.5625rem;
    transform: translateY(-50%);
    color: #858a92;
    cursor: pointer;
    display: inline-flex;
}

.Input_form{
    padding: 0.75rem 1.875rem 0.75rem 4rem;
    /* border-radius: 3rem; */
    border-radius: 5px !important;
    height: 2.5rem !important;
    font-family: "Noto Serif Bengali";
    /* font-size: 1rem; */
    /* line-height: 1.5rem; */
    font-weight: 400;
    border: 1px solid #d9ddef;
    /* border-radius: 0.25rem; */
    height: 3rem;
    
    font-size: 0.9rem !important;
    background-color: #f2f3f5;
    width: 100%;
    /* padding: 0.75rem 1rem; */
    outline: none;
    transition: all .2s ease-in-out;
}

.nav-right{
    margin-left: auto;
    gap: 1rem;
}

.ntc{
    transition: all .3s;
    border-radius: 5px !important;
    height: 2.5rem !important;
    background-color: silver !important;
    border: none !important;
    /* color: black !important; */   
}

.ntc:hover{
    background-color: rgb(156, 156, 156) !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;
}


.login-signup{
    color: #1f2937;
    background-color:#3c8fc2 !important;
    border: none !important;
    transition: all .3s;
    border-radius: 5px !important;
    height: 2.5rem !important;
}

.login-signup:hover{
    background-color: #2876a7 !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;
}

.start-learning-btn:hover{
    background-color: #FFA500 !important; /* Light orange color */
    border: 1px solid FFA500 !important;
    transition: background-color 0.3s !important;


}

.watch-courses-btn{
    background-color:#3c8fc2 !important; 
    border: none !important;
}

.watch-courses-btn:hover{
    background-color: #2876a7 !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;

}



/* cover starts */
.cover-header{
    position: relative;
}

.blink-span{
    position: absolute !important;
    top: -38px !important;
    left: 510px !important
}




/* page two overview */

.page-two-overview { 
    background: #092756;
     background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
     background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
     background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
     background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
     background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
     }


.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 325px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    color: black;
    transition: 0.3s;
  }
  
  .card2:hover {
    transition: all 0.2s ease-in;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -8px;
    border: 1px solid #cccccc;
    background-color: white
  }
  
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(5.15);
  }

