@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
/* @import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/lal-sabuj-normal/stylesheet.css');  */

body{
    box-sizing: border-box;
    margin: 0 0 0 0;
    font-family: 'Hind Siliguri', sans-serif !important;

    /* font-weight: bolder !important; */

}


.nav-header{
    background-color: #fff;
    width: 100%;
    height: 5.625rem;
    transition: box-shadow .5s ease;
}

.nav-left{
    gap: 2.25rem;
}

.Button_btn__end_icon__Opp_H{
    margin-left: 0.875rem;
}

.all-course-btn{
    border-radius: 2px !important;
    height: 3rem !important;
    display: flex !important;
    align-items: center !important;
    border-radius: 5px !important;
    height: 2.5rem !important;
    

}

.all-course-btn-wrapper:hover .all-course-btn{
    border-bottom-left-radius: 0px !important;
}

.all-course-btn-wrapper:hover .all-course-dropdown{
    display: block !important;
    position: absolute;
    margin-top: 1px !important;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Input_search__input_group{
    position: relative;
}

.Input_search__input_icon{
    position: absolute;
    top: calc(50% + 1px);
    left: 1.5625rem;
    transform: translateY(-50%);
    color: #858a92;
    cursor: pointer;
    display: inline-flex;
}

.Input_form{
    padding: 0.75rem 1.875rem 0.75rem 4rem;
    /* border-radius: 3rem; */
    border-radius: 5px !important;
    height: 2.5rem !important;
    font-family: "Noto Serif Bengali";
    /* font-size: 1rem; */
    /* line-height: 1.5rem; */
    font-weight: 400;
    border: 1px solid #d9ddef;
    /* border-radius: 0.25rem; */
    height: 3rem;
    
    font-size: 0.9rem !important;
    background-color: #f2f3f5;
    width: 100%;
    /* padding: 0.75rem 1rem; */
    outline: none;
    transition: all .2s ease-in-out;
}

.nav-right{
    margin-left: auto;
    gap: 1rem;
}

.ntc{
    transition: all .3s;
    border-radius: 5px !important;
    height: 2.5rem !important;
    background-color: silver !important;
    border: none !important;
    /* color: black !important; */   
}

.ntc:hover{
    background-color: rgb(156, 156, 156) !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;
}


.login-signup{
    color: #1f2937;
    background-color:#3c8fc2 !important;
    border: none !important;
    transition: all .3s;
    border-radius: 5px !important;
    height: 2.5rem !important;
    
    
}

.login-signup:hover{
    background-color: #2876a7 !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;
}

.start-learning-btn:hover{
    background-color: #FFA500 !important; /* Light orange color */
    border: 1px solid FFA500 !important;
    transition: background-color 0.3s !important;


}

.watch-courses-btn{
    background-color:#3c8fc2 !important; 
    border: none !important;
}

.watch-courses-btn:hover{
    background-color: #2876a7 !important; /* Light orange color */
    border: none !important;
    transition: background-color 0.3s !important;

}



/* cover starts */
.cover-header{
    position: relative;
}

.blink-span{
    position: absolute !important;
    top: -38px !important;
    left: 510px !important
}

